*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
    box-sizing: border-box;
}

body{
    background-color: #a0a0a0;
}
h1,h2,h3{
    color: #333;
}

p{
    color:#70747a;
}

/* Navbar */
.navbar-container{
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}

nav{
    position: relative;
}

.logo{
    width: 50px;
    margin-top: 15px;
}

.navbar-items{
    position: absolute;
    margin: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    display: inline-block;
}

.navbar-items li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-items a:hover{
    color: #ccc;
}

.default-btn {
    padding: 15px 20px;
    background-color: #0A84FF;
    border-radius: 5px  ;
}

.navbar-items .default-btn:hover{
    background-color: #389afc;
    color: #fff;
}

/* Banner */
.main-banner{
    background-image: url(../img/bannertecno.jpg);
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

.main-banner h1,
.main-banner p{
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

.main-banner h1{
    font-size: 54px;
}

.main-banner p{
    font-size: 32px;
}

/* services */
.services-container{
    padding: 5rem 0;
}

.services-container h3{
    margin-bottom: 25px;
}

.services-container p{
    line-height: 24px;
}

.services-container ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fas , .fa-regular, .fa-solid{
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt{
    color: #2cc76a;
}

.fa-computer{
    color: #ef3f29;
}

.fa-newspaper{
    color: #ef8f29;
}


/* price and plans */
.posts-container{
    padding-bottom: 5rem;
    text-align: center;
}

.posts-container h2{
    font-size: 24px;
    padding-bottom: 5px;
    color: #000;
}

.posts-container p{
    font-size: 16px;
    color: #333;
}

.posts-containers{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
    color: #333333;
}

.posts{
    display: flex;
    margin-left: 400px;
}

.post{

    flex: 1;
    max-width: 275px;
    margin: 0 40px;
    line-height: 20px;
    padding-top: 30px;
}

.post img{
    max-width: 300px;
    image-resolution: unset;
}

.post-info{
    padding-left: 25px;
}

.btn-sabermais{
    text-decoration: none;
    display: block;
    padding: 20px;
    background-color: #0A84FF;
    color: #fff;
    transition: 0.6s;
}

.btn-sabermais:hover{
    border: #0A84FF solid 1px;
    background-color: #a0a0a0;
    color: #0A84FF;
}

/* search domain */
.searchdomain-container{
    background-color: #33454e;
    text-align: center;
    padding: 5rem 0;
}

.searchdomain-container h2{
    color: #111;
    font-size: 42px;
    margin-bottom: 15px;
}

.searchdomain-container p{
    color: #d5d5d5;
    font-size: 24px;
    margin-bottom: 25px;
}

.searchdomain-container input{
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.searchdomain-container input[type="text"]{
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
}

.searchdomain-container input[type="submit"]{
    background-color: #0A84FF;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    opacity: .7;
}

.searchdomain-container input[type="submit"]:hover{
    opacity: 1;
}

/* contact form */
.contact-container{
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.contact-container h2{
    font-size: 36px;
    margin-bottom: 15px;
}

.contact-container p{
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input, .contact-container textarea{
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #333;
    margin: 0 10px 20px;
}

.contact-container textarea{
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
}

.contact-container input[type="submit"]{
    display: block;
    margin: 0 auto;
    background-color: #0A84FF;
    color: #fff;
    cursor: pointer;
}

.contact-container input[type="submit"]:hover{
    background-color: #429ffc;
}

/* footer */
footer{
    text-align: center;
    font-weight: bold;
    margin: 20px 0 100px;
}

/* responsividade */

/* small laptos a partir de 1100px*/
@media (max-width: 1100px) {
    .posts-container{
        width: 95%;
    }

    .post{
        margin: 0 5px;
    }

    html, body {
        overflow-x: hidden;
    }
}

/* Tela de tablets, a partir de 900px */
@media (max-width: 900px) {
    .main-banner p{
        padding: 0 6rem;
    }

    .searchdomain-container{
        padding: 2rem 4rem;
    }
}

/* Tela de celulares, a partir de 576px */
@media (max-width: 576px){
    html, body{
        overflow: hidden;
    }

    .navbar-items li{
        font-size: 12px;
        margin-left: 10px;
    }

    .main-banner p{
        padding: 0 2rem;
    }

    .services-container ul{
        flex-direction: column;
    }

    .plans-container{
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
    }

    .plan{
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .searchdomain-container h2{
        font-size: 28px;
    }

    .searchdomain-container input[type="text"]{
        width: 100%;
    }

    .contact-container{
        padding: 3rem 2rem;
    }

    .contact-container input,
    .contact-container textarea{
        width: 100%;
        margin: 10px 0;
    }
}
